# Segmenting and Clustering Neighbourhoods in Toronto

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [82]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)
wiki_raw = pd.read_html(wiki_page.content)[0]
#Check wiki URL to understand Code below
df=wiki_raw.melt() #Melting grid to single column
df=df[df.value.str.contains("Not assigned")==False]
df.reset_index(inplace = True)
#Splitting value into Borough,Neighborhood,Postalcode
df['Postal Code'] = df['value'].map(lambda x: x[0:3]) #Extracting First 3 Characters i.e Postal Code 
df['value']=df['value'].map(lambda x: x[3:]) #Isolating the postal code to extract Borough,Neighborhood by splitting with "("
df[['Borough','Neighborhood','Empty']] =df.value.str.split('(',expand=True)
df['Neighborhood']=df['Neighborhood'].str.replace(')', '', regex=False) #Removing ) from Neighborhood
df['Neighborhood']=df['Neighborhood'].str.replace('/', ',', regex=False) #Replacing / with ""
df.drop(columns = ['variable','value','Empty'],inplace = True)

     index  variable                                              value
0        1         0                    M1BScarborough(Malvern / Rouge)
1        2         0  M1CScarborough(Rouge Hill / Port Union / Highl...
2        3         0  M1EScarborough(Guildwood / Morningside / West ...
3        4         0                             M1GScarborough(Woburn)
4        5         0                          M1HScarborough(Cedarbrae)
..     ...       ...                                                ...
98     170         8                                    M9NYork(Weston)
99     171         8                            M9PEtobicoke(Westmount)
100    172         8  M9REtobicoke(Kingsview Village / St. Phillips ...
101    175         8  M9VEtobicoke(South Steeles / Silverstone / Hum...
102    176         8  M9WEtobicokeNorthwest(Clairville / Humberwood ...

[103 rows x 3 columns]

In [78]:
df.groupby(['Postal Code']).first()

,index,Borough,Neighborhood
Postal Code,,,
M1B,1,Scarborough,"Malvern , Rouge"
M1C,2,Scarborough,"Rouge Hill , Port Union , Highland Creek"
M1E,3,Scarborough,"Guildwood , Morningside , West Hill"
M1G,4,Scarborough,Woburn
M1H,5,Scarborough,Cedarbrae
...,...,...,...
M9N,170,York,Weston
M9P,171,Etobicoke,Westmount
M9R,172,Etobicoke,"Kingsview Village , St. Phillips , Martin Grov..."
M9V,175,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam..."
M9W,176,EtobicokeNorthwest,"Clairville , Humberwood , Woodbine Downs , Wes..."

The new Wiki link already has nieghborhood merged according to Postal Code and Borough

In [79]:
len(df['Postal Code'].unique())

103

In [80]:
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighborhood]
Index: []

In [81]:
df.shape

(103, 4)